# === Server ===
# export MYSQL_DATABASE=alkemio
export DATABASE_HOST=localhost
export MYSQL_ROOT_PASSWORD=toor
SNAPSHOT_SERVER_DIR=../z/server


# === Populator ===
export ALKEMIO_SERVER='http://localhost:3000/api/private/non-interactive/graphql'
export ALKEMIO_DATA_TEMPLATE='alkemio-sdgs.ods'
export AUTH_ADMIN_EMAIL=admin@alkem.io
export AUTH_ADMIN_PASSWORD=changeMe

# === Snapshot Script ===
export SNAPSHOT_OUTPUT_FILE_NAME=output.sql